@font-face {
  font-family: 'Sen';
  src: url('../fonts/sen-variable-font.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-variable-font.ttf');
}

@font-face {
  font-family: 'Inter-italic';
  src: url('../fonts/inter-italic-variable-font.ttf');
}
